/* All styles for your Card Components live here */

img.cardBanner {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.cardContainer {
    width: 550px;
    margin-left: 60px;
}

.cardContent {
    box-sizing: border-box;
    border: solid 1px #ddd;
    border-radius: 0 0 5px 5px;
    margin-top: -5px;
    padding: 10px;
}

h2.cardTitle {
    font-size: 1em;
    margin: 5px 0;
}

.cardContent p {
    font-size: 1em;
    line-height: 1.2em;
    margin: 5px 0;
}